<html>
    <head>
        <title>Homelessness in the area of 78748</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
    <img src= "../static/content/images/Austin_Landscape_2_2.jpg">
    <h1>Problem</h1>
    <p>Hello, we are a Code2College group that is focused on talking about the issues of homelessness around Austin. The 2019 Point in Time Count showed that there were 2,255 people experiencing homelessness on a single day in Austin. Also, according to KVUE, the homeless population growth rate is 28.2%, which is over double Austin's total population growth rate (12.4%).
    <p><img id="tipgraph"src= "../static/content/images/PIT-results-graph.png">
    </p>
    <h1>Survey Collection</h1>
    <p>We created an 8 question survey that would help with formulating our plans and goals as we move forward with possible solutions. This survey was distributed to people who live in the South Austin area. Some of the data collected is shown in the graphs below:
    </p>
    <p><img id="graph"src= "https://cdn.discordapp.com/attachments/677979218998722599/678818386297225226/unknown.png">
    <img id="graph1"src= "https://cdn.discordapp.com/attachments/677979218998722599/678821491596460045/unknown.png">
    </p>
    <h1>Initial Solution</h1>
    Although we cannot fully prevent homelessness, we have came up with some ideas that may lessen the homelessness numbers. Our group has created a map that pinpoints places like churches, homeless shelters, and food pantries that provide food and shelter. Homeless people with phones can use this map as a resource to help them as a temporary or short-term solution.
    </p>
    <footer>
    http://arcg.is/0yG1G4
    </footer>
    <h1>Next Steps</h1>
    <p>Depending on the utilization rate and how valuable people find this map, we may improve and expand the area. We will be looking for any feedback from people and all organizations, including schools, businesses, churchs, non profits, etc.
    </p>
    </body>

</html>